extends layout
block scripts
    script
        include ../public/scripts/Chart.js
        include ../public/scripts/Colours.js
block main
    include graphs/book_ebook_reviews_line
block analysis
    p some content analysis