extends layout
block scripts
    script
        include ../public/scripts/Chart.js
        include ../public/scripts/Colours.js
block main
    include graphs/customers_per_year_region_line
block analysis
    p customers have increased blah blah