extends layout
block main
    ul.list-group
        li.list-group-item
            a(href = '/comparison') number of reviews for books and ebooks
        li.list-group-item
            a(href = '/customers') Comparing customer growth between regions
        li.list-group-item
            a(href = '/products') Reviews per category excluding books
        


    