extends layout
block scripts
    script
        include ../public/scripts/Chart.js
        include ../public/scripts/Colours.js
block main
    include graphs/product_reviews_pie
block analysis
    p some content analysis